@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700;900&family=Open+Sans:wght@300;400;700&display=swap');


@font-face {
    font-family: 'silverline';
    src: url('../../../../fonts/silverline.woff2') format('woff2'),
        url('../../../../fonts/silverline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hanley';
    src: url('../../../../fonts/hanley_pro_slim.woff2') format('woff2'),
        url('../../../../fonts/hanley_pro_slim.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html{
    height: 100%;
    /* min-height: 100%; */
}

body {
    margin: 0;
    background-color: #1D1D1D;
    color: white;
    min-height: 100%;
    position: relative;

    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.balise {
    color: #585858;
    font-family: 'silverline';
    font-size: 1.875rem;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:768px) {
    .balise {
        font-size: 1.3rem;
    }
}

/* I. Menu */

body .navbar {
    background: rgba(14, 14, 14, 0.5);
    padding-right: 3%;
    position: sticky;
    top: 0;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    padding-right: 30px;
}


/* II. Contenu */

.projets {
    border-top: #F4D03E solid;
    width: 75%;
    margin: auto;
    margin: 30px auto 30px auto;
    background-color: #181818;
    display: flex;
}

/* Partie gauche */

.gauche {
    width: 50%;
    height: 100%;
    padding: 20px 30px 20px 30px;
}

.titre {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: max-content;
    margin: auto;
}

.titre h1 {
    font-family: 'Be Vietnam Pro';
    font-weight: 800;
    -webkit-text-stroke: 1px #F4D03E;
    color: transparent;
    font-size: 3.125rem;
    margin: 0px 10px 0px 10px;
}

.gauche p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1rem;
    padding-left: 15px;
}

.decouvrirplus {
    display: block;
    width: max-content;
    border: #F4D03E solid 1px;
    color: #F4D03E;
    text-decoration: none;
    font-family: 'hanley';
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin: auto;
}

.decouvrirplus:hover {
    background-color: #F4D03E;
    color: #2E2E2E;
}

@media screen and (max-width:768px) {
    .titre h1 {
        font-size: 1.8rem;
    }

    .gauche p {
        font-size: 0.68rem;
    }

    .decouvrirplus {
        font-size: 0.7rem;
    }
}

/* Partie droite */

.droite {
    width: 50%;
    height: 100%;
    padding: 3vh;
}

.outils {
    margin-top: 15px;
}

.outils p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1rem;
}

.logiciels {
    display: flex;
    flex-wrap: wrap;
}

.logiciels p {
    font-family: 'hanley';
    border: #F4D03E solid 1px;
    color: #F4D03E;
    border-radius: 50px;
    padding: 5px 30px;
    font-size: 0.8rem;
    margin-right: 20px;
}

@media screen and (max-width: 994px) {
    .projets {
        flex-direction: column;
    }

    .gauche,
    .droite {
        width: 100%;
    }

    .droite {
        padding: 0;
    }

    .outils {
        padding: 10px 30px 20px 30px;
    }

}

@media screen and (max-width: 768px) {
    
    .outils p {
        font-size: 0.68rem;
    }

    .logiciels p{
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 0.55rem;
    }
}

/* Footer */

body .bg-dark {
    background-color: rgba(14, 14, 14, 0.5) !important;
    width: 100%;
}

footer .container {
    text-align: center !important;
}

@media screen and (max-width: 768px) {
    footer .container {
        font-size: 0.7rem;
    }
}